body {
  margin: 0;
  background: #f7faff; 
  font-family: Arial, sans-serif;
}

.navbar {
  border: 3px solid black;
  margin: 20px;
  background: white;
  position: relative;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 3px solid black;
}


.logo {
  font-size: 28px;
  font-weight: bold;
  color: #0a2a43;
}


.hamburger {
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background: #0d3d63;
}


.mobile-menu {
  display: none;
  position: absolute;
  right: 20px;
  top: 95px;
  width: 220px;
  background: white;
  border: 2px solid #0d3d63;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0,0,50,0.15);
  padding: 10px 0;
}

.mobile-menu a {
  display: block;
  padding: 12px 20px;
  font-size: 18px;
  text-decoration: none;
  color: #0a2a43;
}

.mobile-menu a:hover {
  background: #e6f0ff;
}


.mobile-menu.open {
  display: block;
}
