body {
  margin: 0;
  background: #ffffff; 
  font-family: Arial, sans-serif;
}

.navbar {
  border: 3px solid black;
  margin: 20px;
  background: white;
  position: relative;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 3px solid black;
}


.logo {
  font-size: 28px;
  font-weight: bold;
  color: #000000;
}


.hamburger {
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background: #000000;
}


.mobile-menu {
  display: none;
  position: absolute;
  right: 20px;
  top: 95px;
  width: 220px;
  background: rgb(255, 255, 255);
  border: 2px solid #000000;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0,0,50,0.15);
  padding: 10px 0;
}

.mobile-menu a {
  display: block;
  padding: 12px 20px;
  font-size: 18px;
  text-decoration: none;
  color: #0a2a43;
}

.mobile-menu a:hover {
  background: #ffffff;
}


.mobile-menu.open {
  display: block;
}




.hero-banner {
  
  width: 100%;
  height: 450px; 
  position: relative; 
  overflow: hidden; 
  
  background-image: url('sprinkler.jpg'); 
  background-size: cover;
  background-position: center; 
  
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4); 
}

.hero-text {
  position: absolute; 
  
  left: 5%; 
  top: 50%;
  transform: translateY(-50%); 
  
  color: white; 
  font-family: Arial, sans-serif; 
  font-size: 48px; 
  line-height: 1.1; 
  font-weight: bold;
  margin: 0; 
}
