/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
   background: #f4f8fb;
   color: #333;
}

/* ================= HERO ================= */
.hero {
   height: 100vh;
   background: url('sprinkler.jpg') center/cover no-repeat;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 40px;
}

/* Overlay-Dunkel */
.hero::before {
   content: "";
   position: absolute;
   inset: 0;
   background: rgba(0, 0, 0, 0.45);
}

/* Navigation */
.nav {
   position: absolute;
   top: 25px;
   right: 25px;
}

